<div class="container">
    <app-header></app-header><br>
    <!-- <h1>Inicio</h1> -->


    <div class="card-columns">

        <div *ngFor="let proyecto of proyectos; let i = index" class="card" style="width: 18rem;">

            <div class="card-body">
                <h1>{{ proyecto.autor }}</h1>
                <h5 class="card-title">{{ proyecto.titulo }}</h5>
                <!-- <p class="card-text">{{ proyecto.id }}</p> -->
                <div *ngIf="proyecto.estado === true">
                    <p class="btn btn-primary">Finalizado..</p>
                </div>
                <div *ngIf="proyecto.estado === false">
                    <p class="btn btn-primary btn-block">Pendiente..</p>
                </div>

            </div>
        </div>



    </div>

</div>